<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Business {{title}}</title>
</head>
<body>
	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}

	<h1>The Business {{title}} Page</h1>
	<form action="{ url 'businesses:update' business_id=instance.id %}" method="BUSINESS">
	{% csrf_token %}
	{{form.as_p}}
	<input type="submit" name="Update Business">
	</form>	
</body>
</html>