{% extends "base.html" %}
{% load urlify %}
{% block title %}
{{title}}
{% endblock title %}

{% block content %}
	<h1>{{title}}</h1>
	<div class="row">
	{% for object in object_list %}
		<div class="col-sm-6 col-sm-offset-3">
			<div class="thumbnail">
				{% if object.image %}
					<img src="{{object.image.url}}" alt="" class="img-responsive">
				{% endif %}
				<!--<img src="..." alt="...">-->
				<div class="caption">
					<h3><a href="{{ object.get_absolute_url }}">{{object.title}}</a><small> {{object.timestamp|timesince }} ago</small></h3>

					{% if object.draft %}<h3>Draft</h3>{% endif %}
        			{% if object.publish > today %}<h3>Future Business</h3>{% endif %}

					<p>{{object.content|linebreaks|truncatechars:100}}</p>
					<p><a href="{{ object.get_absolute_url }}" class="btn btn-primary" role="button">View</a></p>
				</div>
			</div>    
				<a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}">
		Share on Facebook
		</a>
		<br>

		<a href="https://twitter.com/home?status={{instance.content|truncatechars:35|urlify}}%20{{request.build_absolute_uri}}">
			Share on Twitter
		</a>
		<br>

		<a href="https://www.linkedin.com/shareArticle?mini=true&url={{request.build_absolute_uri}}&title={{instance.title|urlify}}&summary={{instance.content|truncatechars:35|urlify}}&source={{request.build_absolute_uri}}">
		Share on Linkedin
		</a>
			</div>
		</div>

		

	{% endfor %}
	</div>
	<div class="pagination">
		<span class="step-links">
			{% if object_list.has_previous %}
				<a href="?page={{ object_list.previous_page_number }}">previous</a>
			{% endif %}

			<span class="current">
				Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
			</span>

			{% if object_list.has_next %}
				<a href="?page={{ object_list.next_page_number }}">next</a>
			{% endif %}
		</span>
	</div>
{% endblock content %}